.RoomGuests {
    background-color: var(--color-gray-light);
    border: 3px solid var(--color-gray-light);
    border-radius: 3px;
    display: inline-block;
    list-style: none;
    vertical-align: top;
}

.RoomGuests + .RoomGuests {
    margin-left: 6px;
}

.RoomGuests.is-selected {
    background-color: #fff;
}

.RoomGuests-toggle {
    padding: 10px 15px;
}

.RoomGuests.is-selected .RoomGuests-toggle {
    background-color: var(--color-gray-light);
}

.RoomGuests-toggleInput:disabled {
    position: absolute;
    left: -9999px;
}

.RoomGuests.is-selected .RoomGuests-toggleLabel {
    font-weight: bold;
}

.RoomGuests-options {
    padding: 10px 15px;
}